body {
    font-family: Arial, sans-serif;
    margin:0;
    background-color: #5798e1;
    
}

.navbar {
    background-color: #e7e8ed;
    position: fixed;
    top: 0;
    width: 95%;
    padding: 15px 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    display: flex;

}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #6883a2;
    
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.navbar ul li a {
   border-radius: 5px;
    color: #1a1a1a;
    font-size: 1rem;
    transition: all 0.3s ease;
    white-space: nowrap;
    padding: 5px 10px;
}

.navbar ul li a:hover {
    background-color: #4a90e2;
    color: #5798e1;
    
}

@media (max-width: 480px) {
  .navbar ul {
    gap: 15px;
    overflow-x: auto;
  }
}

/* Plain Home Section */
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  padding: 20px;
}

.home h1 {
  font-size: 2.5rem;
  color: #1a1a1a;
  margin-bottom: 10px;
}

.home p {
  font-size: 1.2rem;
  color: #555;
}

/* Plain about Section */
.about {
    padding: 100px 10%;
    background-color: #ebe4e4;
  
}

.section-title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
    color: #141414;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
}


.about-image img {
    width: 300px; 
    height: auto; 
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 242, 234, 0.3);
}


.about-text h3 {
    font-size: 24px;
    color: #5798e1;
    margin-bottom: 20px;
}

.about-text p {
    color: #1d1b1b;
    line-height: 1.6;
    margin-bottom: 30px;
}

.about-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.info-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info-title {
    color: #5798e1;
    font-weight: 600;
}

.info-value {
    color: #1d1b1b;
}

@media (max-width: 968px) {
    .about-grid {
        grid-template-columns: 1fr;
    }
    
    .about-image {
        order: -1;
    }
    
    .about-info {
        grid-template-columns: 1fr;
    }
}

/* Skills Section Background */
.skills-section {
  background: #5798e1;
  padding: 80px 20px;
}

/* White Card */
.skills-card {
  background: #fff;
  max-width: 1100px;
  margin: auto;
  padding: 50px;
  border-radius: 25px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

/* Heading */
.skills-card h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 28px;
}

.skills-card h2 span {
  color:#5798e1;
}

/* Grid */
.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 60px;
}

/* Skill Item */
.skill-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-weight: 600;
}

/* Progress Bar */
.bar {
  width: 100%;
  height: 6px;
  background: #ddd;
  border-radius: 5px;
}

.fill {
  height: 100%;
  background: #5798e1;
  border-radius: 5px;
}

/* Colors */
.red { color: #ff4d4d; }
.green { color: #2ecc71; }
.cyan { color: #00d2d3; }
.blue { color: #0a19ff; }
.orange { color: #ff6b6b; }
.yellow { color: #f1c40f; }

/* Responsive */
@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }
}

